<nav style="text-align: center;">
    <form>
        <div style="padding-right: 75px; padding-top: 10px;">
            <label>Username: </label>        
            <input class="input" type="text" name="Username"
            [(ngModel)]="user.username">
        </div>
        <div style="padding-right: 70px; padding-top: 10px;">
            <label>Password: </label>        
            <input class="input" type="password" name="Password"
            [(ngModel)]="user.password">
        </div>
        <div style="padding-right: 30px; padding-top: 10px; padding-bottom: 10px;">
            <label>Role: </label>        
            <input class="input" type="text" name="Role"
            [(ngModel)]="user.role">
        </div>
        <div>
            <button class="button" type="button" (click)="onLoggedin()">Connexion</button>
            <button class="button" type="button" (click)="onRegister()">Register</button>
        </div>
    </form>
</nav>
